.logo {
  height: 6em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Input styles */
input {
  color: #fff !important;
}

input::placeholder {
  color: #aaa !important;
  opacity: 1;
}

.MuiInputLabel-root {
  color: #ccc !important;
}