html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* REMOVE THIS (VERY IMPORTANT) */
/*
body {
  display: flex;
  place-items: center;
}
*/

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}